<div id="search_content">
	
 	<div id="tab">
 		<%= render :partial => 'tabs' %>
 	</div>
	
 	<div id="result_lists">
 		<% @systems_to_search.each do |system| %>
			
			<div id="<%= @response_list.resources_lists[system].tagging_system.media_type %>_list" align="center">
 				<%= render :partial => "result_list", 
				  	   :locals => {:system => system,
							       :list => @response_list.resources_lists[system]} %>
	   		</div>
		<% end%>
 	</div>
</div>

